.image-wrapper{
    height: 3.6cm !important;
    width: 3.6cm !important;
}

.image-container{
    height: 100%;
    border: 3px solid var(--foreground-primary);
    border-radius: 50% !important;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image{
    height: 140% !important;
}