@using System.Text
@using Demolite.Cv.Interfaces.Models

@inherits AbstractLocalizedPrintDisplay

<div class="d-flex flex-column w-100" style="gap: 0.8mm;">
    <div class="tp-heading-print">
        @Title
    </div>
    <div class="d-flex flex-row w-100 justify-content-between">
        <div class="tp-bold-print w-50">
            @EducationEntry.SchoolName
        </div>
        <div class="tp-bold-print">
            @Grade
        </div>
        <div class="tp-bold-print">
            @GetDate()
        </div>
    </div>
    <div class="tp-content-print">
        @Description
    </div>
</div>

@code {

    [Parameter]
    public required IEducationEntry EducationEntry { get; set; }
    
    private string Title => LocalizeProperty(EducationEntry, x => x.Title);

    private MarkupString Description => LocalizePropertyMarkup(EducationEntry, x => x.Description);

    private string Grade
    {
        get
        {
            if (string.IsNullOrWhiteSpace(EducationEntry.Grade))
                return string.Empty;
            
            return IsGerman ? $"Note: {EducationEntry.Grade}" : $"Grade: {EducationEntry.Grade}";
        }
    }

    private string GetDate()
    {
        var format = "MM/yyyy";
        
        if(string.IsNullOrWhiteSpace(EducationEntry.Grade))
            format = "yyyy";
            
        var sb = new StringBuilder();

        sb.Append(EducationEntry.StartDate.ToString(format));

        sb.Append(" - ");

        if (EducationEntry.EndDate is null)
            sb.Append(IsGerman ? "Heute" : "Today");

        else
            sb.Append(EducationEntry.EndDate.Value.ToString(format));

        return sb.ToString();
    }

}