@using Demolite.Cv.Interfaces.Models

@inherits AbstractLocalizedPrintDisplay

<div class="d-flex flex-column w-100">
    <div class="tp-heading-print-sm">
        @Title
    </div>
    <div class="tp-content-print">
        @Description
    </div>
</div>

@code {

    [Parameter]
    public required IHobbyEntry HobbyEntry { get; set; }

    private string Title => LocalizeProperty(HobbyEntry, x => x.Title);

    private MarkupString Description => LocalizePropertyMarkup(HobbyEntry, x => x.Description);

}