@page "/"
@using Demolite.Cv.Interfaces.Models

<CvHeaderDisplay/>

@foreach (var entry in CvEntries)
{
    if (entry is IWorkEntry workEntry)
    {
        <WorkEntryDisplay WorkEntry="workEntry"/>
        <div class="spacer"></div>
    }

    if (entry is IEducationEntry educationEntry)
    {
        <EducationEntryDisplay EducationEntry="educationEntry"/>
        <div class="spacer"></div>
    }
}

<div class="spacer"></div>