@page "/"
@using Demolite.Cv.Interfaces.Models

<PageTitle>Cv</PageTitle>

<CvHeaderDisplay/>

@foreach (var entry in CvEntries)
{
    if (entry is IWorkEntry workEntry)
    {
        <WorkEntryDisplay WorkEntry="workEntry"/>
        <div class="spacer"></div>
    }
}