@using MudBlazor.Utilities
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider IsDarkMode="true" Theme="MainTheme"/>
<MudPopoverProvider/>

<div class="app">
    <HeaderBar/>
    <div class="content">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {

    public static MudTheme MainTheme => new() {PaletteDark = new PaletteDark()
                                                             {
                                                                 Primary = new MudColor("#0B9FAD"),
                                                                 Dark = new MudColor("#191C24"),
                                                                 Background = new MudColor("#191C24"),
                                                                 Surface = new MudColor("#191C24"),
                                                             }};

}