<Stack Row="true" Class="mobile-90 align-items-center justify-content-evenly mb-4">
    <div class="image-wrapper">
        <div class="image-container">
            <img class="image" src="img/cv.jpg" alt="Photo of Applicant"/>
        </div>
    </div>
    <Stack class="w-50 align-items-center justify-content-center">
        <div class="tp-mainheading">
            TOBIAS&nbsp;BRINKE
        </div>
        <div class="tp-subheading">
            CURRICULUM&nbsp;VITAE
        </div>
    </Stack>
</Stack>

@code {

}