@using System.Text
@using Demolite.Cv.Common.Enum
@using Demolite.Cv.Interfaces.Models
@inherits AbstractLocalizedDisplay

<Stack Class="w-100">
    <div class="tp-heading">
        <MudIcon Icon="@Icons.Material.Outlined.Work"/>
        @Title
    </div>
    <Stack Row="true" Class="w-100 justify-content-between">
        <div class="tp-bold w-50 mobile-90">
            @WorkEntry.CompanyName
        </div>
        <div class="tp-bold">
            @WorkEntry.Location
        </div>
        <div class="tp-bold">
            @GetDate()
        </div>
    </Stack>
    <div class="tp-content">
        @Description
    </div>
</Stack>

@code {

    [Parameter]
    public required IWorkEntry WorkEntry { get; set; }

    private string Title => LocalizeProperty(WorkEntry, x => x.Title);

    private MarkupString Description => LocalizePropertyMarkup(WorkEntry, x => x.Description);

    private string GetDate()
    {
        var sb = new StringBuilder();

        sb.Append(WorkEntry.StartDate.ToString("MM/yyyy"));

        sb.Append(" - ");
        
        if (WorkEntry.EndDate is null)
            sb.Append(IsGerman ? "Heute" : "Today");
        
        else
            sb.Append(WorkEntry.EndDate.Value.ToString("MM/yyyy"));

        return sb.ToString();
    }

}