.stack{
    display: flex;
    gap: 0.3rem;
}

@media screen and (max-width: 500px) {
    .stack{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 1700px) {
    .stack-flat{
        flex-direction: column !important;
    }
}